$color-lgreen:#7ed56f;
$color-mgreen:#55c57a;
$color-dgreen: #28b485;

$color-white:#fff;
$color-black:#000;
$color-light-gray1:#f7f7f7;
$color-tertiary-dark:#6b86c2;
$color-tertiary-light:#5d748a;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-dark-gray:#777;
$color-grey-dark: #777;
$color-dark-gray-2:#f0e1e1;
$color-dark-gray-3:#423f3f;

$color-grey-dark-3: #333;
$color-grey-light-2: #eee;

//fontsize
$default-font-size:1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 4rem;
