$color-lgreen:#7ed56f;
$color-mgreen:#55c57a;
$color-dgreen: #28b485;
$color-dark-gray:#777;
$color-white:#fff;
$color-black:#000;
$color-light-gray1:#f7f7f7;
$color-primary-dark:#7ed56f;
$color-primary-light:#28b485;

//fontsize
$default-font-size:1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
